# Discord
DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=

# Lavalink 
LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_AUTHORIZATION=

# Google (chatbot functionality)
GOOGLE_GEMINI_API_KEY=

# MongoDB uri
DATABASE_URI=